%div.footer
  .row
    .large-4.columns
      .content Footer Column 1
    .large-4.columns
      %center.hide-for-medium-down
        = "<div class='fb-like' data-href='#{Instance.current.homepage_url}' data-send='false' data-layout='button_count' data-width='200' data-show-faces='false'></div>".html_safe
    .large-4.columns
      .content Footer Column 3
